@charset "utf-8";
	.NormalCharacterStyle
{
	font-family : Formular Bold;
	font-weight : bold;
	font-size : 60pt;
	letter-spacing : 3pt;
	color : #383838;
	color : rgb(56, 56, 56);
}
.NormalCharacterStyle43
{
	font-family : Formular Bold;
	font-weight : bold;
	font-size : 60pt;
	color : #383838;
	color : rgb(56, 56, 56);
}
.NormalCharacterStyle42
{
	font-family : Formular Light;
	font-size : 30pt;
	letter-spacing : 4.5pt;
	color : #383838;
	color : rgb(56, 56, 56);
}
.NormalCharacterStyle41
{
	font-family : Formular Light;
	font-size : 23pt;
	color : #FFFFFF;
	color : rgb(255, 255, 255);
}
.NormalCharacterStyle40
{
	font-family : Formular Light;
	font-size : 23pt;
	color : #383838;
	color : rgb(56, 56, 56);
}
.NormalCharacterStyle39
{
	font-family : Formular Light;
	font-size : 20pt;
	color : #383838;
	color : rgb(56, 56, 56);
}
.NormalCharacterStyle38
{
	font-family : Formular Light;
	font-size : 20pt;
	color : #383838;
	color : rgb(56, 56, 56);
}
.NormalCharacterStyle37
{
	font-family : Formular Bold;
	font-weight : bold;
	font-size : 60pt;
	letter-spacing : 3pt;
	color : #383838;
	color : rgb(56, 56, 56);
}
.NormalCharacterStyle36
{
	font-family : Formular Bold;
	font-weight : bold;
	font-size : 60pt;
	letter-spacing : 3pt;
	color : #383838;
	color : rgb(56, 56, 56);
}
.NormalCharacterStyle35
{
	font-family : Formular Light;
	font-size : 30pt;
	color : #FFFFFF;
	color : rgb(255, 255, 255);
}
.NormalCharacterStyle34
{
	font-family : Formular Bold;
	font-weight : bold;
	font-size : 62pt;
	letter-spacing : 3.1pt;
	color : #FFFFFF;
	color : rgb(255, 255, 255);
}
.NormalCharacterStyle33
{
	font-family : Formular Light;
	font-size : 30pt;
	letter-spacing : 4.5pt;
	color : #383838;
	color : rgb(56, 56, 56);
}
.NormalCharacterStyle32
{
	font-family : Formular Light;
	font-size : 30pt;
	letter-spacing : 4.5pt;
	color : #383838;
	color : rgb(56, 56, 56);
}
.NormalCharacterStyle31
{
	font-family : Formular Light;
	font-size : 25pt;
	color : #383838;
	color : rgb(56, 56, 56);
}
.NormalCharacterStyle30
{
	font-family : Formular Light;
	font-size : 25pt;
	color : #383838;
	color : rgb(56, 56, 56);
}
.NormalCharacterStyle29
{
	font-family : Formular Light;
	font-size : 20pt;
	color : #383838;
	color : rgb(56, 56, 56);
}
.NormalCharacterStyle28
{
	font-family : Formular Light;
	font-size : 20pt;
	color : #383838;
	color : rgb(56, 56, 56); 
	text-decoration : underline;
}
.NormalCharacterStyle27
{
	font-family : Formular Light;
	font-size : 25pt;
	color : #383838;
	color : rgb(56, 56, 56);
}
.NormalCharacterStyle26
{
	font-family : Formular Light;
	font-size : 25pt;
	color : #383838;
	color : rgb(56, 56, 56);
}
.NormalCharacterStyle25
{
	font-family : Formular Bold;
	font-weight : bold;
	font-size : 60pt;
	letter-spacing : 3pt;
	color : #383838;
	color : rgb(56, 56, 56);
}
.NormalCharacterStyle24
{
	font-family : Formular Light;
	font-size : 25pt;
	color : #383838;
	color : rgb(56, 56, 56);
}
.NormalCharacterStyle23
{
	font-family : Formular Light;
	font-size : 25pt;
	color : #383838;
	color : rgb(56, 56, 56);
}
.NormalCharacterStyle22
{
	font-family : Formular Light;
	font-size : 25pt;
	color : #383838;
	color : rgb(56, 56, 56);
}
.NormalCharacterStyle21
{
	font-family : Formular Light;
	font-size : 25pt;
	color : #383838;
	color : rgb(56, 56, 56);
}
.NormalCharacterStyle20
{
	font-family : Formular Light;
	font-size : 25pt;
	color : #383838;
	color : rgb(56, 56, 56);
}
.NormalCharacterStyle19
{
	font-family : Formular Light;
	font-size : 25pt;
	color : #383838;
	color : rgb(56, 56, 56);
}
.NormalCharacterStyle18
{
	font-family : Formular Light;
	font-size : 23pt;
	color : #383838;
	color : rgb(56, 56, 56);
}
.NormalCharacterStyle17
{
	font-family : Formular Light;
	font-size : 20pt;
	color : #383838;
	color : rgb(56, 56, 56);
}
.NormalCharacterStyle16
{
	font-family : Formular Light;
	font-size : 20pt;
	color : #383838;
	color : rgb(56, 56, 56); 
	text-decoration : underline;
}
.NormalCharacterStyle15
{
	font-family : Formular Bold;
	font-weight : bold;
	font-size : 60pt;
	letter-spacing : 3pt;
	color : #383838;
	color : rgb(56, 56, 56);
}
.NormalCharacterStyle14
{
	font-family : Formular Light;
	font-size : 25pt;
	color : #383838;
	color : rgb(56, 56, 56);
}
.NormalCharacterStyle13
{
	font-family : Formular Bold;
	font-weight : bold;
	font-size : 25pt;
	color : #383838;
	color : rgb(56, 56, 56);
}
.NormalCharacterStyle12
{
	font-family : Formular Light;
	font-size : 25pt;
	color : #383838;
	color : rgb(56, 56, 56);
}
.NormalCharacterStyle11
{
	font-family : Myriad Pro;
	font-size : 25pt;
	color : #000000;
	color : rgb(0, 0, 0); 
	text-decoration : underline;
}
.NormalCharacterStyle10
{
	font-family : Myriad Pro;
	font-size : 25pt;
	color : #000000;
	color : rgb(0, 0, 0); 
	text-decoration : underline;
}
.NormalCharacterStyle9
{
	font-family : Myriad Pro;
	font-size : 25pt;
	color : #000000;
	color : rgb(0, 0, 0); 
	text-decoration : underline;
}
.NormalCharacterStyle8
{
	font-family : Myriad Pro;
	font-size : 25pt;
	color : #000000;
	color : rgb(0, 0, 0); 
	text-decoration : underline;
}
.NormalCharacterStyle7
{
	font-family : Formular Light;
	font-size : 23pt;
	color : #383838;
	color : rgb(56, 56, 56);
}
.NormalCharacterStyle6
{
	font-family : Formular Light;
	font-size : 20pt;
	color : #383838;
	color : rgb(56, 56, 56);
}
.NormalCharacterStyle5
{
	font-family : Formular Light;
	font-size : 20pt;
	color : #383838;
	color : rgb(56, 56, 56); 
	text-decoration : underline;
}
.NormalCharacterStyle4
{
	font-family : Formular Bold;
	font-weight : bold;
	font-size : 60pt;
	letter-spacing : 3pt;
	color : #383838;
	color : rgb(56, 56, 56);
}
.NormalCharacterStyle3
{
	font-family : Formular Light;
	font-size : 25pt;
	color : #383838;
	color : rgb(56, 56, 56);
}
.NormalCharacterStyle2
{
	font-family : Formular Bold;
	font-weight : bold;
	font-size : 60pt;
	letter-spacing : 3pt;
	color : #383838;
	color : rgb(56, 56, 56);
}
.NormalCharacterStyle1
{
	font-family : Formular Light;
	font-size : 25pt;
	color : #383838;
	color : rgb(56, 56, 56);
}
